:root {
  --line-fill: #3498db;
  --line-empty: #e0e0e0;
  --bg-color: #f6f7fb;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  /* font-family: 'Muli', sans-serif; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: #f8f8f8;
  color: #666;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 26px;
}

.btns {
  display: inline-flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 450px;
  position: relative;
  margin-bottom: 36px;
}

.container::before {
  /* 用于构造进度条背景,用after也可 */
  content: '';
  background-color: var(--line-empty);
  height: 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: -2;
}

.progress {
  /* 用于构造带前景色的进度条 */
  background-color: var(--line-fill);
  z-index: -1;
  height: 5px;
  position: absolute;
  transition: all linear .3s;
}

.circle {
  background-color: var(--bg-color);
  border-radius: 50%;
  border: 4px solid var(--line-empty);
  height: 30px;
  width: 30px;
  color: #999;
  text-align: center;
  /* border-box, 边框宽度为3px，故内容高度为30 - 2*3 = 24px */
  line-height: 22px;
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-fill);
}

.btn {
  background-color: var(--line-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-empty);
  cursor: not-allowed;
}