.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #fafafa;
  background: -webkit-linear-gradient(#ffffff, #f2f2f2);
  /* background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2); */
  padding: 0 12px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 13%) inset;
  /* box-shadow: 0 0 5px #ccc; */
  border-bottom: 1px solid #d3d3d3;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-logo {
  padding: 0 20px 0 50px;
  background-image: url('../img/logo.gif');
  background-size: 44px;
  background-repeat: no-repeat;
  vertical-align: middle;
  font-size: 18px;
  color: #666;
}

.header-nav {
  display: inline-flex;
  justify-content: flex-start;
}

.header-nav-item {
  padding: 0 14px;
  color: #777777;
  font-size: 14px;
  font-weight: 600;
  height: 100%;
  line-height: 40px;
  transition: all 0.3s ease-in-out;
}

.header-nav-item:hover {
  color: #333;
}

.nav-item-active {
  color: #555555;
  background: #e5e5e5;
  box-shadow: 0 1px 5px rgb(0 0 0 / 13%) inset;
}
