.open-main {
  width: 960px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 12px 12px;
  color: #333333;
}

.open-input {
  margin-bottom: 30px;
}

input {
  width: 220px;
  border: 1px solid #d9d9d9;
  padding: 8px;
  color: #333333;
  transition: all 0.3s ease-in-out;
}

input:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

label {
  font-size: 13px;
  color: #333333;
}

.submit-btn {
  display: inline-block;
  width: 52px;
  height: 18px;
  padding: 7px 12px;
  box-sizing: content-box;
  font-size: 13px;
  background: #ff0033;
  color: #fff;
  border: none;
  margin-top: 12px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.submit-btn:hover {
  background: #cc0033;
}

.open-content,
.open-tip {
  margin-top: 40px;
}

.pill-label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

.pill-content {
  font-size: 13px;
  border: 1px solid #ff0033;
  padding: 15px 20px;
}

.tips {
  font-size: 13px;
}

.open-tip span {
  font-weight: 600;
}

.no-such-key {
  background-color: #f5f5b5;
  border: 1px solid #deca7e;
  padding: 8px;
  width: 400px;
  color: #900;
  font-size: 13px;
}
