* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4682b4;
  height: 100vh;
}

.wrapper {
  width: 400px;
  height: 450px;
  border-radius: 5px;
  background: #2a4e6c;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.form {
  
}

.form-item {
  position: relative;
  margin-bottom: 50px;
}

.form-item input {
  height: 50px;
  padding: 15px 0;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  transition: transform .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #fff;
}

.form-item input:focus, .form-item input:valid {
  outline: 0;
  border-bottom-color:lightblue;
}

.form-item input:focus + label,
.form-item input:valid + label {
  color: lightblue;
  transform: translateY(-40px);
}

.form-item label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #ffffff;
  transition: .3s;
}

.form-item .btn {
  width: 100%;
  height: 50px;
  color:antiquewhite;
  font-size: 16px;
  background: #85bacc;
  transition: all .3s ease-in-out;
  border-radius: 2px;
  border-width: 0;
}

.form-item .btn:hover {
  color: rgb(102, 96, 96);
  background: lightblue;
}

.text {
  color: #fff;
  text-align: center;
}

.text a {
  text-decoration: none;
}

.text a:visited {
 color: #4682b4;
}