<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QQ音乐</title>
  <link rel="stylesheet" href="./styles/style.css">
  <script src="./scripts/index.js"></script>
</head>
<body>
  <!-- <div style="height: 80px;"></div> -->
  <div class="page">
    <header class="section header">
      <div class="section-inner">
        <img src="./imgs/qqmusic.png" alt="">
      </div>
    </header>
    <div class="section">
      <div class="section-inner play-section">
        <h2 class="section-title">歌单推荐</h2>
        <div class="cats">
          <li class="cat-item cat-active">为你推荐</li>
          <li class="cat-item">运动</li>
          <li class="cat-item">网络歌曲</li>
          <li class="cat-item">思念</li>
          <li class="cat-item">官方歌单</li>
          <li class="cat-item">情歌</li>
        </div>
        <div class="play-list">
          <!-- <li class="play-item">
            <div class="covers">
              <a href="#">
                <img src="http://qpic.y.qq.com/music_cover/8HhavvWNIicpyjlv0UnT5TWLRxhfmGTVwYtiaWd54wZItUPRu7486Fqw/300?n=1" alt="" class="cover">
                <div class="cover-mask"></div>
                <img src="./imgs/cover_play.png" class="play-icon">
              </a>
            </div>
            <div class="title">
                翻唱女神J.Fla | 只唱你最爱的旋律hsy wg ywd wvdywv dwvy
            </div>
            <div class="listen-num">
              播放量：8915496
            </div>
          </li> -->
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section-inner song-section">
        <h2 class="section-title">新歌首发</h2>
        <div class="cats">
          <li class="cat-item cat-active">最新</li>
          <li class="cat-item">内地</li>
          <li class="cat-item">港台</li>
          <li class="cat-item">欧美</li>
          <li class="cat-item">韩国</li>
          <li class="cat-item">日本</li>
        </div>
        <div class="play-all">
          <img src="./imgs/play.svg" alt="">
          播放全部
        </div>
        <div class="song-list">
          <!-- <li class="song-item">
            <div class="covers song-cover">
              <img src="https://y.gtimg.cn/music/photo_new/T002R90x90M000002myPA84G7kxG_1.jpg" alt="" class="cover">
              <div class="cover-mask"></div>
              <img src="./imgs/cover_play.png" class="play-icon">
            </div>
            <div class="info">
              <div class="name">Sabotage</div>
              <div class="singer">Bebe Rexha</div>
            </div>
            <div class="interval">02:56</div>
          </li> -->
        </div>
      </div>
    </div>
    
    <div class="section">
      <div class="section-inner mv-section">
        <h2 class="section-title mv-title">MV</h2>
        <div class="cats">
          <li class="cat-item cat-active">精选</li>
          <li class="cat-item">内地</li>
          <li class="cat-item">港台</li>
          <li class="cat-item">欧美</li>
          <li class="cat-item">韩国</li>
          <li class="cat-item">日本</li>
        </div>
        <div class="mv-list">
          <!-- <li class="mv-item">
            <div class="covers">
              <img src="https://y.gtimg.cn/music/photo_new/T015R640x360M102000SY7kU0vIuoT.jpg" alt="" class="cover">
              <div class="cover-mask"></div>
              <img src="./imgs/cover_play.png" alt="" class="play-icon">
            </div>
            <div class="title">向宿命挥拳的人 (《新斗罗大陆》手游戴沐白角色曲)</div>
            <div class="singer">阿云嘎</div>
            <div class="listen-num">
              <img src="./imgs/watch.svg" alt="" class="watch-icon">
              9370
            </div>
          </li> -->
        </div>
      </div>
    </div>

  </div>
</body>
</html>