html,
body,
.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-flow: column nowrap;
  font-family: auto;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
}

.back,
.share {
  width: 20px;
}

.search-bar {
  height: 20px;
  margin: 0 20px 0 20px;
  padding: 8px 20px 8px 20px;
  background-color: #f6f7f8;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.search {
  height: 18px;
}
.search-input {
  outline-style: none;
  border: 0;
  background-color: transparent;
  height: 24px;
  flex: 1;
  margin-left: 8px;
}
.search-input::placeholder {
  font-size: 14px;
  color: #959595;
}
.cats {
  /* width: 100%; */
  box-sizing: border-box;
  margin: 10px 25px 10px 25px;
}
.cat-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.cat-item {
  color: #858585;
  list-style: none;
  width: 80px;
  margin: 10px 10px 10px 0;
  font-size: 14px;
}
.cat-active {
  color: #4ba0f0;
  font-weight: bold;
}

.hr {
  background-color: #f2f2f2;
  width: 100%;
  height: 1px;
  /* 线宽0.5px太小，古不再缩放 */
  /* transform: scaleY(0.5); */
}

.main {
  width: 100%;
  flex: 1;
  overflow: scroll;
}

.book-list {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 20px;
}

/* .book-list * {
  
} */

.book-item {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 24px;
}

.book-rank {
  font-size: 16px;
  font-weight: 600;
  width: 20px;
  text-align: center;
  margin-right: 10px;
  line-height: 120px;
}

.book-cover {
  height: 120px;
  border-radius: 2px;
  overflow: hidden;
  margin-right: 1em;
}

.cover-img {
  height: 100%;
}

.book-info {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.book-title {
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.author,
.popularity {
  color: #858585;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
}

.popularity {
  display: inline-flex;
}

.rating {
  display: inline-block;
  line-height: 24px;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tag-img {
  height: 100%;
  display: inline-block;
}

.reading-count {
  width: 50px;
  height: 20px;
  background-color: #f3f3f6;
  border-radius: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b0b4bd;
  line-height: 24px;
  font-size: 12px;
}

.count-img {
  height: 70%;
}
