:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-flex: 2;
  --speed: 1000ms;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.split {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* 超出则隐藏，达到被覆盖的效果 */
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url(./img/ps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url(./img/xbox.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* 作为mask */
.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  z-index: 1;
  white-space: nowrap;
}

.btn {
  width: 15rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 1;
}

.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.split:hover {
  flex: var(--hover-flex);
}
