* {
  margin: 0;
  padding: 0;
}

body {
  background: #24292e;
  overflow: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: #fff;
  transform-origin: top left;
  transition: transform ease-in-out .7s;
  position: relative;
}

.wrapper.rotate {
  transform: rotate(-10deg);
}

.btn {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: -50px;
  border-radius: 50%;
  background: #ea6066;
  z-index: 1;
}

.btn .icon {
  width: 20px;
  transform: translate(60px, -25px);
}

.btn:hover {
  cursor: pointer;
}

nav {
  position: absolute;
  top: 720px;
  /* left: 10px; */
  z-index: -1;
  color: #fff;
  width: 100px;
}

nav ul li {
  list-style: circle;
  margin: 36px 0;
  transition: all ease-in-out .7s;
}

nav.active ul li {
  margin-left: 24px;
}

nav.active ul li + li {
  margin-left: 48px;
}

nav.active ul li + li + li {
  margin-left: 72px;
}