<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>排行榜</title>
  <link rel="stylesheet" href="./styles/style.css">
  <script src="./task.json" type="text/javascript"></script>
  <script src="./scripts/index.js"></script>
</head>
<body>
  <div class="page">
    <header class="top">
      <div class="top-title">排行榜</div>
      <nav class="tabs">
        <ul>
          <li class="tab tab-active">
            <img src="./imgs/icon_article.webp" alt="icon_article" width="20px" class="tab-icon">
            <span>好文精选</span>
          </li>
          <li class="tab">
            <img src="./imgs/icon_hot.webp" alt="icon_hot" class="tab-icon">
            <span>热门资讯</span>
          </li>
        </ul>
      </nav>
      <nav class="cats">
        <ul>
          <li class="cat">
            文章
          </li>
        </ul>
      </nav>
    </header>
  
    <div class="main article-list">
      <div class="article-item">
        <div class="item-header">
          <img src="./imgs/rank-top1.png" alt="" class="item-rank">
          <img src="./imgs/banner-1.jpg" alt="" class="item-cover">
        </div>
        <div class="item-title">
          在中国，这种实木被低估了！橡木榉木黑胡桃樱桃木优缺点解读！6种仿品真假辨别！10款实木家具分析！
        </div>
        <div class="item-footer">
          <div class="item-comments">
            <img src="./imgs/comments.svg" class="item-comments-icon">
            <span class="comments-likes-num">95</span>
          </div>
          <div class="item-likes">
            <img src="./imgs/likes.svg" class="item-likes-icon">
            <span class="comments-likes-num">110</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>